@using Kendo.Mvc.UI
@model DongAERP.Areas.Admin.Models.CountryModel
@{
    string monthYear = string.Concat(DateTime.Today.ToString("MMMM"), " ", DateTime.Today.ToString("yyyy"));

    var listData = (List<string>)ViewData["listData"];

    string fromDate = string.Empty;
    string toDate = string.Empty;

    if (listData != null)
    {
        fromDate = listData[0];
        toDate = listData[1];
    }
}


<div class="d-sm-flex align-items-center justify-content-between mb-4">

    <div style=" width: 100%; ">
        <h1 class="h3 mb-0 text-gray-800">Dashboard</h1>
        <hr class="sidebar-divider">
        <div style="width: 35%;float: left;margin-top: 10px;">

            @*<div style=" display: inline; margin-right: 10%; "><span> Đối tác: </span></div>*@
            <div style=" display: inline; margin-right: 10%; ">
                @(Html.Kendo().RadioButton().Name("TotalReport").Checked(true).Value(2).HtmlAttributes(new { @name = "report" }).Label("Tổng hợp"))
            </div>
            <div style=" display: inline; margin-right: 10%; ">
                @(Html.Kendo().RadioButton().Name("DABReport").Value(0).HtmlAttributes(new { @name = "report" }).Label("DAB"))
            </div>
            <div style=" display: inline; margin-right: 10%; ">
                @(Html.Kendo().RadioButton().Name("DAMReport").Value(1).HtmlAttributes(new { @name = "report" }).Label("DAMTC"))
            </div>
        </div>
        <div style="display: flex;float: right;width: 65%;">
            <ul style="margin: 0px;padding: 0px;">
                <span style="float: left;margin-right: 30px;margin-top: 8px;">Từ tháng: </span>
                <span>
                    @(Html.Kendo().DatePicker()
                                .Name("FromMonth")
                                .Start(CalendarView.Year)
                                .Depth(CalendarView.Year)
                                .Format("MM/yyyy")
                                .Value(monthYear)
                                .DateInput()
                                .HtmlAttributes(new { style = "width: 50%;float: left;", title = "monthpicker" })
                    )
                </span>
            </ul>
            <ul style="margin: 0px; padding: 0px; ">
                <span style="margin-left: 0%;margin-right: 30px;display: inline;">Đến tháng: </span>
                <span style=" display: inline-flex; ">
                    @(Html.Kendo().DatePicker()
                                .Name("ToMonth")
                                .Start(CalendarView.Year)
                                .Depth(CalendarView.Year)
                                .Format("MM/yyyy")
                                .Value(monthYear)
                                .DateInput()
                                .HtmlAttributes(new { style = "width: 70%", title = "monthpicker" })
                    )
                </span>
            </ul>

            <ul class="search-item" style="margin-top: 5px;padding: 0px;">
                <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm search-dashboard" href="#" style="float: left;"><i class="fas fa-search fa-sm text-white-50"></i> Tìm kiếm</a>
            </ul>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary" style=" font-size: 25px;">
                    TỔNG DOANH SỐ
                </h6>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="text-align: center;font-size: 29px;color: orange !important;">$767.011.329</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row no-gutters align-items-center" style=" margin-left: 20px; ">
                <h6 class="m-0 font-weight-bold text-primary targetTongDSValue" style=" font-size: 12px;">
                    Chỉ tiêu năm: 100000
                </h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary" style=" font-size: 25px;">
                    DOANH SỐ CHI NHÀ
                </h6>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="text-align: center;font-size: 29px;color: orange !important;">$767.011.329</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row no-gutters align-items-center" style=" margin-left: 20px; ">
                <h6 class="m-0 font-weight-bold text-primary targetDSChiNhaValue" style=" font-size: 12px;">
                    Chỉ tiêu năm: 100000
                </h6>
            </div>
        </div>
    </div>
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary" style=" font-size: 25px;">
                    HOA HỒNG
                </h6>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="text-align: center;font-size: 29px;color: orange !important;">$767.011.329</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row no-gutters align-items-center" style=" margin-left: 20px; ">
                <h6 class="m-0 font-weight-bold text-primary targetHoaHongValue" style=" font-size: 12px;">
                    Chỉ tiêu năm: 100000
                </h6>
            </div>
        </div>
    </div>
    <!-- Pending Requests Card Example -->
    <div class="col-xl-3 col-md-6 mb-4">
        <div class="card border-left-info shadow h-100 py-2">
            <div class="card-body">
                <h6 class="m-0 font-weight-bold text-primary" style=" font-size: 25px;">
                    THU ĐỔI NGOẠI TỆ
                </h6>
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-info text-uppercase mb-1" style="text-align: center;font-size: 29px;color: orange !important;">$767.011.329</div>
                        <div class="row no-gutters align-items-center">
                            <div class="col-auto">
                                <div class="h5 mb-0 mr-3 font-weight-bold text-gray-800">50%</div>
                            </div>
                            <div class="col">
                                <div class="progress progress-sm mr-2">
                                    <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="row no-gutters align-items-center" style=" margin-left: 20px; ">
                <h6 class="m-0 font-weight-bold text-primary targetNgoaiTeValue" style=" font-size: 12px;">
                    Chỉ tiêu năm: 100000
                </h6>
            </div>
        </div>
    </div>
</div>

<!-- Content Row -->
<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-5 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row no-gutters align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">SỐ HỒ SƠ</h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 tongHS" style="text-align: center;font-size: 29px;color: orange !important;">12313</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="width: 30%;position: absolute;float: left;">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row no-gutters align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Chi Nhà</h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 hsChiNha" style="text-align: center;font-size: 20px;color: orange !important;">12313</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="width: 29%;position: absolute;left: 34%;">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row no-gutters align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Chi Quầy</h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 hsChiQuay" style="text-align: center;font-size: 20px;color: orange !important;">12313</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>
        <div class="card shadow mb-4" style="width: 35%;float: right;">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <div class="row no-gutters align-items-center">
                    <h6 class="m-0 font-weight-bold text-primary">Chuyển Khoản</h6>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="mt-4 text-center small">
                    <span class="mr-2">
                        <div class="row no-gutters align-items-center">
                            <div class="col mr-2">
                                <div class="text-xs font-weight-bold text-info text-uppercase mb-1 hsChuyenKhoan" style="text-align: center;font-size: 20px;color: orange !important;">12313</div>
                            </div>
                        </div>
                    </span>
                </div>
            </div>
        </div>

    </div>
    <!-- Area Chart -->
    <div class="col-xl-7 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">XU HƯỚNG DOANH SỐ @DateTime.Now.Year</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @(Html.Kendo().Chart<DongA.Entities.ReportForTotalPayment>()
                    .Name("lineChartReportTotalPaymentForMonth")
                    //.Title("Tổng doanh số chi trả (Quy USD)")
                    .Legend(legend => legend
                        .Position(ChartLegendPosition.Top)
                    )
                    .ChartArea(chartArea =>
                    {
                        chartArea.Height(300);
                    })
                    .DataSource(ds => ds.Read(read => read.Action("SearchLineChartReportTotalPaymentForMonth", "ReportForTotalPayment").Data("onDataReportTypeID")))
                    .Series(series =>
                    {

                        series.Line(model => model.Payed).Name("Tổng doanh số").CategoryField("ReportID").Color("Blue");
                    })
                    .CategoryAxis(axis => axis
                        .Labels(labels => labels.Rotation(-45))
                        .Crosshair(c => c.Visible(true))
                    )
                    .ValueAxis(axis => axis.Numeric()
                        .Labels(labels => labels.Format("{0:N2}"))
                    //.MajorUnit(10000)
                    )
                    .Tooltip(tooltip => tooltip
                        .Visible(true)
                        .Shared(true)
                        .Format("{0:N2}")
                    )
                )
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">DOANH SỐ THEO LOẠI HÌNH DỊCH VỤ</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    @(Html.Kendo().Chart<DongA.Entities.Report>()
                        .Name("chartReportMonth")
                        //.Title("Doanh số chi trả theo từng dịch vụ")
                        .Legend(legend => legend
                            .Position(ChartLegendPosition.Top)
                        )
                        .ChartArea(chartArea =>
                        {
                            chartArea.Height(300);
                        })
                        .DataSource(ds => ds
                            .Read(read => read
                                .Action("SearchLineChartReportMonth", "Report")
                                .Data("onDataReportTypeID")
                            )
                        )
                        .Series(series =>
                        {
                            series.Line(model => model.DSChiQuay).Name("Doanh số chi quầy").CategoryField("ReportID").Color("#FFBF00");
                            series.Line(model => model.DSChiNha).Name("Doanh số chi nhà").CategoryField("ReportID").Color("#40FF00");
                            series.Line(model => model.DSCK).Name("Doanh số chuyển khoản").CategoryField("ReportID").Color("#2ECCFA");
                            //series.Line(model => model.TongDS).Name("Tổng doanh số").CategoryField("ReportID").Color("#006400");
                        })
                        .CategoryAxis(axis => axis
                            .Labels(labels => labels.Rotation(-45))
                            .Crosshair(c => c.Visible(true))
                        )
                        .ValueAxis(axis => axis.Numeric()
                            .Labels(labels => labels.Format("{0:N2}"))
                        //.MajorUnit(10000)
                        )
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Shared(true)
                            .Format("{0:N2}")
                        )
                    )
                </div>
            </div>
        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">TỶ TRỌNG LOẠI HÌNH DỊCH VỤ (100%)</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 360px;width: 400px;">
                <div class="chart-pie pt-4 pb-2">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartMonthDS")
                        //.Title(title => title
                        //    .Text(month)
                        //    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )

                        .ChartArea(chartArea =>
                        {
                            chartArea.Height(300);
                            //chartArea.Width(350);
                            chartArea.Margin(20, 0, 0, 0);
                        })
                        .DataSource(ds => ds.Read(read => read.Action("SearchPieMonthDS", "Home").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(80)
                            ;
                            //.Labels(labels => labels.Format("{0:N2}"));
                        })

                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0:N2}%")
                        )
                    )
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<!-- Content Row -->
<div class="row">
    <!-- Area Chart -->
    <div class="col-xl-8 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">DOANH SỐ THEO LOẠI TIỀN CHI TRẢ</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridMoneyType")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        columns.Bound("PartnerName").Title("Loại tiền")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound("COL1").Title("Nguyên tệ").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                        columns.Bound("COL2").Title("Quy USD").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                    })
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Batch(true)
                        //.ServerOperation(false)
                        .Read(read => read.Action("GridDataMoneyType", "Home").Data("onDataReportTypeID"))

                    )
                    .Events(events => events
                        .DataBound("onDataBound")
                    )
                )
            </div>

        </div>
    </div>
    <!-- Pie Chart -->
    <div class="col-xl-4 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">TỶ TRỌNG LOẠI TIỀN (100%)</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body" style="height: 420px;width: 400px;">
                <div class="chart-pie pt-4 pb-2">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartMonthHS")
                        //.Title(title => title
                        //    .Text(month)
                        //    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )

                        .ChartArea(chartArea =>
                        {
                            chartArea.Height(300);
                            //chartArea.Width(350);
                            //chartArea.Margin(0, 0, 0, 50);
                        })
                        .DataSource(ds => ds.Read(read => read.Action("SearchPieMonthHS", "Home").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category, model => model.color)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(0)
                            ;
                            //.Labels(labels => labels.Format("{0:N2}"));
                        })

                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0:N2}%")
                        )
                    )
                </div>
                
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<!-- Content Row -->
<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-5 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">TÌNH HÌNH CHI TRẢ TRÊN CẢ NƯỚC</h6>

            </div>
            <!-- Card Body -->
            <div id="regions_div" class="">
            </div>
        </div>
    </div>
    <!-- Area Chart -->
    <div class="col-xl-7 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ĐỊA BÀN CHI TRẢ</h6>
                <div class="dropdown no-arrow">
                    <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in" aria-labelledby="dropdownMenuLink">
                        <div class="dropdown-header">Dropdown Header:</div>
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </div>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="chart-area">
                    <canvas id="myAreaChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<!-- Content Row -->
<div class="row">
    <!-- Pie Chart -->
    <div class="col-xl-6 col-lg-5">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">THỊ TRƯỜNG</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridMarket")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        columns.Bound("PartnerName").Title("Loại tiền")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound("COL1").Title("Hồ sơ").Format("{0:N0}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                        columns.Bound("COL2").Title("Quy USD").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                    })
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Batch(true)
                        //.ServerOperation(false)
                        .Read(read => read.Action("GridDataMarket", "Home").Data("onDataReportTypeID"))

                    )
                    .Events(events => events
                        .DataBound("onDataBoundMarket")
                    )
                )
            </div>
        </div>
    </div>
    <!-- Area Chart -->
    <div class="col-xl-6 col-lg-7">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">ĐỐI TÁC</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridPartner")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        columns.Bound("PartnerName").Title("Đối tác")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound("COL1").Title("Hồ sơ").Format("{0:N0}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                        columns.Bound("COL2").Title("Quy USD").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right;" });

                    })
                    .Scrollable(scrollable => scrollable.Height(335))
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Batch(true)
                        //.ServerOperation(false)
                        .Read(read => read.Action("GridDataPartner", "Home").Data("onDataReportTypeID"))

                    )
                    .Events(events => events
                        .DataBound("onDataBoundPartner")
                    )
                )
            </div>
        </div>
    </div>
</div>
<!-- Content Row -->
<div class="row">

    <div class="col-lg-12 mb-4">
        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">TÌNH HÌNH THỊ TRƯỜNG</h6>
            </div>
            <div id="regions_div_World" class="">

            </div>
        </div>

    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
    
    $(document).ready(function () {

        $('ul.search-item .search-dashboard').click(function () {
            
            let fromDate = $('#FromMonth').data('kendoDatePicker').value();
            let fromMonthConvert = kendo.toString(fromDate, "MM/dd/yyyy");
            let toDate = $('#ToMonth').data('kendoDatePicker').value();
            let toMonthConvert = kendo.toString(toDate, "MM/dd/yyyy");
            let reportTypeID = $('input[name="report"]:checked').val();

            // Tính số tháng chênh lệch
            let difference_In_Time = toDate.getTime() - fromDate.getTime();
            let difference_In_Days = difference_In_Time / (1000 * 3600 * 24 * 30);

            // Chỉ cho phép chọn trong 12 tháng
            if ((fromDate.getFullYear() == toDate.getFullYear() && fromDate.getFullYear() == toDate.getFullYear())
                || (toDate.getFullYear() == fromDate.getFullYear() + 1 && difference_In_Days < 12)) {

                let dataList = {
                    fromDate: fromMonthConvert,
                    toDate: toMonthConvert,
                    reportTypeID: reportTypeID
                };


                $.ajax({
                    type: "GET",
                    url: '@Url.Action("GetDataDoanhSo", "Home")',
                    data: dataList,
                    dataType: "json" , 
                    contentType: 'application/json; charset=utf-8',
                    success: successData,
                    error: function (httpRequest, textStatus, errorThrown) {  // detailed error messsage 
                        alert("Error: " + textStatus + " " + errorThrown + " " + httpRequest);
                    }
                });

                // Biểu đồ tổng doanh số theo tháng

                let urlChart = "/Admin/ReportForTotalPayment/SearchLineChartReportTotalPaymentForMonth?fromDate=";
                let chart = $("#lineChartReportTotalPaymentForMonth").data("kendoChart");
                chart.dataSource.transport.options.read.url = urlChart + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                //chart.options.title.text = "Tổng doanh số chi trả";
                chart.dataSource.read();

                // Loại hình dịch vụ
                urlChart = "/Admin/Report/SearchLineChartReportMonth?fromDate=";
                chart = $("#chartReportMonth").data("kendoChart");
                chart.dataSource.transport.options.read.url = urlChart + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

                // Biểu đồ tỉ trọng Doanh số
                urlChart = "/Admin/Home/SearchPieMonthDS?fromDate=";
                chart = $("#chartMonthDS").data("kendoChart");
                chart.dataSource.transport.options.read.url = urlChart + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

                // grid Loại tiền
                let urlGrid = "/Admin/Home/GridDataMoneyType?fromDate=";
                chart = $("#gridMoneyType").data("kendoGrid");
                chart.dataSource.transport.options.read.url = urlGrid + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

                // Biểu đồ tỉ trọng
                urlChart = "/Admin/Home/SearchPieMonthHS?fromDate=";
                chart = $("#chartMonthHS").data("kendoChart");
                chart.dataSource.transport.options.read.url = urlChart + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

                // grid Thị trường
                urlGrid = "/Admin/Home/GridDataMarket?fromDate=";
                chart = $("#gridMarket").data("kendoGrid");
                chart.dataSource.transport.options.read.url = urlGrid + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

                // grid Đối tác
                urlGrid = "/Admin/Home/GridDataPartner?fromDate=";
                chart = $("#gridPartner").data("kendoGrid");
                chart.dataSource.transport.options.read.url = urlGrid + fromMonthConvert + "&toDate=" + toMonthConvert + "&reportTypeID=" + reportTypeID;
                chart.dataSource.read();

            } else {
                $("<div></div>").kendoAlert({
                    title: "Cảnh báo!",
                    content: "Bạn chỉ được phép tìm kiếm trong 12 tháng trở lại"
                }).data("kendoAlert").open();
            }
        });

        function successData(data) {
            
            //alert(data.msg);
            // Convert json to Object
            let dataConvert = JSON.parse(data);
            if (dataConvert != null) {
                // Tổng doanh số
                $($('.text-uppercase.mb-1')[0]).text('$' + kendo.toString(dataConvert.TongDS, '0,00'));
                $('.targetTongDSValue').text('Chỉ tiêu năm: ' + kendo.toString(dataConvert.targetPoint, '0,00') + ' USD');
                let valueTongDSPercent = (dataConvert.TongDS / dataConvert.targetPoint) * 100;

                $($('.row .align-items-center .align-items-center .col-auto').children()[0]).text(kendo.toString(valueTongDSPercent, '0.00') + '%');
                $($('.row .align-items-center .align-items-center .col .bg-info')[0]).css('width', kendo.toString(valueTongDSPercent, '0.') + '%');

                // Doanh số chi Nhà
                $($('.text-uppercase.mb-1')[1]).text('$' + kendo.toString(dataConvert.DSChiNha, '0,00'));
                $('.targetDSChiNhaValue').text('Chỉ tiêu năm: ' + kendo.toString(dataConvert.targetDSChiNha, '0,00') + ' USD');
                let valueDSChiNhaPercent = (dataConvert.DSChiNha / dataConvert.targetDSChiNha) * 100;

                $($('.row .align-items-center .align-items-center .col-auto').children()[1]).text(kendo.toString(valueDSChiNhaPercent, '0.00') + '%');
                $($('.row .align-items-center .align-items-center .col .bg-info')[1]).css('width', kendo.toString(valueDSChiNhaPercent, '0.') + '%');

                // Hồ sơ
                $('.row .align-items-center .tongHS').text(kendo.toString(dataConvert.TongHS, '0,00'));
                $('.row .align-items-center .hsChiNha').text(kendo.toString(dataConvert.HSChiNha, '0,00'));
                $('.row .align-items-center .hsChiQuay').text(kendo.toString(dataConvert.HSChiQuay, '0,00'));
                $('.row .align-items-center .hsChuyenKhoan').text(kendo.toString(dataConvert.HSChuyenKhoan, '0,00'));
            }
        }

        
    });

     // google.load("visualization", "1", {packages:["geochart"]});
    ////google.charts.load('current', {
    ////    'packages': ['geochart'],
    ////    'mapsApiKey': 'AIzaSyDXA85U-uVX0VnhT9nCsvY25jfav9DGTWc'
    ////});
    //  google.setOnLoadCallback(drawRegionsMap);

    google.charts.load('current', {
        'packages': ['geochart'],

        'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
    });
    google.charts.setOnLoadCallback(drawRegionsMapVN);
    google.charts.setOnLoadCallback(drawRegionsMapWorld);

    function drawRegionsMapVN() {

        // Create and populate the data table.
        var country = '@Html.Raw(@Model.CountrytData.CountryName)';

        //Pereparing string into array
            var countryarray = country.split(',');

            var population = [@Model.CountrytData.Population];

        var data = new google.visualization.DataTable();
        data.addColumn('string', '@Model.CountryTitle');

        data.addColumn('number', '@Model.PopulationTitle');

        for (i = 0; i < countryarray.length; i++) {

            data.addRow([countryarray[i].toString(), population[i]]);
        }
        //var options = {};
        var options = {
            region: 'VN',
            displayMode: 'regions',
            resolution: 'provinces',
        };

        var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

        chart.draw(data, options);
    }

    function drawRegionsMapWorld() {

        var data = @Html.Raw(Json.Encode(@ViewBag.GetDataMartket));

        // Create and populate the data table.
        var country = data.CountryName;


        //Pereparing string into array
        var countryarray = country.split(',');

        var population = data.Population.split(',');
        let populationConvert = [];

        // Pasre sang int
        for (let i = 0; i < population.length; i++) {
            populationConvert.push(parseInt(population[i]));
        }

        var data = new google.visualization.DataTable();

        data.addColumn('string', '@Model.CountryTitle');

        data.addColumn('number', '@Model.PopulationTitle');



        for (i = 0; i < countryarray.length; i++) {

            data.addRow([countryarray[i].toString(), populationConvert[i]]);
        }
        var options = {};

        var chartWorld = new google.visualization.GeoChart(document.getElementById('regions_div_World'));

        chartWorld.draw(data, options);

    }

    function onDataReportTypeID(arg) {

        let fromDate = $('#FromMonth').data('kendoDatePicker').value();
        let fromMonthConvert = kendo.toString(fromDate, "MM/dd/yyyy");
        let toDate = $('#ToMonth').data('kendoDatePicker').value();
        let toMonthConvert = kendo.toString(toDate, "MM/dd/yyyy");
        let reportTypeID = $('input[name="report"]:checked').val();

        return {
            fromDate: fromMonthConvert,
            toDate: toMonthConvert,
            reportTypeID: reportTypeID
        };
    }

    function onDataBound(arg) {

        let lastRow = $('#gridMoneyType tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold')
    }

    function onDataBoundMarket(arg) {

        let lastRow = $('#gridMarket tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold')
    }

    function onDataBoundPartner(arg) {

        let lastRow = $('#gridPartner tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold')
    }
</script>
