@using Kendo.Mvc.UI
@using System.Collections.Generic;
@using System.Web.Mvc;
@using DongA.Entities;
@using System.Data;
@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string NameUrl = ViewBag.NameURL;
    int year = DateTime.Today.Year;

    var listData = (List<string>)ViewData["listData"];

    string gradation = string.Empty;
    string toYear = string.Empty;
    string reportTypeID = string.Empty;
    string partnerID = string.Empty;

    string titleGradatonYear = string.Empty;
    string titleGradatonLastYear = string.Empty;
    string text = " tháng";

    if (listData != null)
    {
        gradation = listData[0];
        toYear = listData[1];
        reportTypeID = listData[2];
        partnerID = listData[3];

        switch (gradation)
        {
            case "1":
                text = string.Concat("3", text);
                break;
            case "2":
                text = string.Concat("6", text);
                break;
            case "3":
                text = string.Concat("9", text);
                break;
            default:
                text = string.Concat("12", text);
                break;
        }

        titleGradatonYear = string.Format("Lũy kế {0} {1}", text, toYear);
        titleGradatonLastYear = string.Format("Lũy kế {0} {1}", text, int.Parse(toYear) - 1);
    }
}
<script src="~/Areas/Admin/Scripts/ReportDetailtByPartner.js"></script>
<h1 class="h3 mb-4 text-gray-800">Chi tiết- Giai đoạn</h1>

<h6 class="m-0 font-weight-bold text-primary">@NameUrl</h6>
<hr class="sidebar-divider">
<div style=" display: flex; ">

    <ul class="search-item" style="width: 100%;margin-top: 5px;margin-bottom: 0px;">
        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm search-grid-gradation-forAll" href="#" style="float: left;"><i class="fas fa-search fa-sm text-white-50"></i> Tìm kiếm</a>*@
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm print-excel-gradation-ForOne" href="#" style=" float: right;"><i class="fas fa-download fa-sm text-white-50"></i> In báo cáo Excel</a>
    </ul>
</div>
<hr class="sidebar-divider">
<p class="mb-4">1. Theo doanh số đối tác - loại hình dịch vụ</p>
<div class="row">
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ cột Loại hình dịch vụ (USD)</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationCompare>()
                        .Name("chartGradationCompare")
                        .Title("Doanh số theo đối tác loại hình dịch vụ")
                        .Legend(legend => legend
                            .Position(ChartLegendPosition.Bottom)
                        )
                        .DataSource(ds => ds
                            .Read(read => read.Action("SearchChartReportForGradation", "ReportDetailtPartner").Data("onDataReportTypeID"))
                            .Group(group => group.Add(model => model.NameGradationCompare))
                            )

                        .Series(series =>
                        {
                            series.Bar(model => model.amount).Name("#= group.value #").CategoryField("NameType");

                        })
                        .SeriesColors("#FFBF00", "#40FF00")
                        .CategoryAxis(axis => axis
                            //.Labels(labels => labels.Format("{0}"))
                            .MajorGridLines(lines => lines.Visible(false))
                        )
                        .ValueAxis(axis => axis
                            .Numeric()
                            .Labels(labels => labels.Format("{0:N2}"))
                            .Line(line => line.Visible(false))
                        )
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0:N2}")
                            .Template("#= series.name #: #= kendo.format('{0:N2}', value) #")
                        )
                        .Events(events => events
                            .DataBound("Report.gradationChartDataBound")
                        )
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Loại hình dịch vụ (USD)</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<ReportDetailtForPartner>()
                    .Name("gridGradationCompare")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        columns.Bound(col => col.PartnerName).Title("")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSChiQuay).Title("Doanh số Chi Quầy").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSChiNha).Title("Doanh số Chi Nhà").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSCK).Title("Doanh số Chuyển Khoản").Format("{0:N2}")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.TongDS).Title("Tổng doanh số")
                        .Format("{0:N2}").HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right; font-weight: 700;" });

                    })
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Batch(true)
                        //.ServerOperation(false)
                        .Read(read => read.Action("SearchGridReportForGradationForOne", "ReportDetailtPartner").Data("onDataReportTypeID"))

                    )
                    .Events(events => events
                        .DataBound("onDataBoundgridGradationCompare")
                    )
                )
            </div>
        </div>
    </div>
</div>

<p class="mb-4">2. Theo tỷ trọng doanh số đối tác - loại hình dịch vụ</p>
<div class="row">
    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Tỉ trọng từng dịch vụ năm hiện tại</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartGradationPercentForYear")
                                .Title(title => title
                                    .Text(string.Format("Tỷ trọng từng dịch vụ {0} {1}", text, year))
                                    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )
                        .DataSource(ds => ds.Read(read => read.Action("SearchGradationComparePieForYear", "ReportDetailtPartner").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category, model => model.color)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(50);
                        })
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                        )
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Tỉ trọng từng dịch vụ cùng kì năm trước</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartGradationPercentForLastYear")
                                .Title(title => title
                                    .Text(string.Format("Tỷ trọng từng dịch vụ {0} {1}", text, year - 1))
                                    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )
                        .DataSource(ds => ds.Read(read => read.Action("SearchGradationComparePieForLastYear", "ReportDetailtPartner").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category, model => model.color)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(50);
                        })
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                        )
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Loại hình dịch vụ (USD)</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<ReportDetailtForPartner>()
                    .Name("gridGradationComparePercent")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        columns.Bound(col => col.PartnerName).Title("")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSChiQuay).Title("Doanh số Chi Quầy").Format("{0:N2} %")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSChiNha).Title("Doanh số Chi Nhà").Format("{0:N2} %")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.DSCK).Title("Doanh số Chuyển Khoản").Format("{0:N2} %")
                        .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: center;" });

                        columns.Bound(col => col.TongDS).Title("Tổng doanh số")
                        .Format("{0:N2} %").HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                        .HtmlAttributes(new { style = " text-align: right; font-weight: 700;" });

                    })
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Batch(true)
                        //.ServerOperation(false)
                        .Read(read => read.Action("SearchGridReportForGradationForOnePercent", "ReportDetailtPartner").Data("onDataReportTypeID"))

                    )
                    .Events(events => events
                        .DataBound("onDataBoundgridGradationComparePercent")
                    )
                )
            </div>
        </div>
    </div>
</div>

@*<style>
        tr.k-grouping-row {
            display: none;
        }
    </style>*@

<script type="text/javascript">

    function GradationCompareDSGrid() {

        let gradationDic = $("#gradation").data("kendoComboBox").value() + "," + $("#gradation").data("kendoComboBox").text();
        return {
            Gradation: gradationDic,
            ToYear: $('#ToYear').data('kendoDatePicker').value().getFullYear(),
        };
    }

    // In đậm cho Grid
    function onDataBoundgridGradationCompare(arg) {

        let lastRow = $('#gridGradationCompare tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold');
        $(lastRow[lastRow.length - 2]).css('font-weight', 'bold');

        // Tô màu dòng record có tỉ lệ tăng giảm
        let trGrid = $('#gridGradationCompare tbody tr');
        for (let i = 3; i < trGrid.length; i++) {

            let tdGrid = $(trGrid[i]).find('td');
            for (let j = 1; j < tdGrid.length; j++) {

                tdCellValue = kendo.parseFloat(tdGrid[j].textContent);

                // Điều kiện nếu td là âm thì tô màu đỏ ngược lại màu Xanh
                if (tdCellValue != null) {

                    // Thêm dấu %
                    $(tdGrid[j]).text(tdCellValue + " %");
                    $(tdGrid[j]).css('color', 'red');
                    if (tdCellValue > 0) {

                        $(tdGrid[j]).text(tdCellValue + " %");
                        $(tdGrid[j]).css('color', 'green');
                    }
                }
            }
        }
    }

    // In đậm cho Grid
    function onDataBoundgridGradationComparePercent(arg) {

        let lastRow = $('#gridGradationComparePercent tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold');

        // Tô màu dòng record có tỉ lệ tăng giảm
        let trGrid = $('#gridGradationComparePercent tbody tr');
        for (let i = 2; i < trGrid.length; i++) {

            let tdGrid = $(trGrid[i]).find('td');
            for (let j = 1; j < tdGrid.length; j++) {

                tdCellValue = kendo.parseFloat(tdGrid[j].textContent);

                // Điều kiện nếu td là âm thì tô màu đỏ ngược lại màu Xanh
                if (tdCellValue != null) {
                    
                    $(tdGrid[j]).css('color', 'red');
                    if (tdCellValue > 0) {
                        
                        $(tdGrid[j]).css('color', 'green');
                    }
                }
            }
        }
    }


    function onDataReportTypeID(arg) {

        return {
            gradation: "@gradation",
            year: "@toYear",
            reportTypeID: "@reportTypeID",
            partnerID: "@partnerID"
        };
    }

    // Change radio
    $("input[name='reportDate']").change(function () {

        localStorage.removeItem('reportTypeLS');
        let reportTypeLS = $('input[name="reportDate"]:checked').val();
        localStorage.reportTypeLS = reportTypeLS;
        // Do something interesting here
    });
</script>