@using Kendo.Mvc.UI
@{
                /**/

                ViewBag.Title = "Index";
                Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
                string NameUrl = ViewBag.NameURL;

                var listData = (List<string>)ViewData["listData"];

                string fromDate = string.Empty;
                string toDate = string.Empty;
                string reportTypeID = string.Empty;

                if (listData != null)
                {
                    fromDate = listData[0];
                    toDate = listData[1];
                    reportTypeID = listData[2];
                }

}
<script src="~/Areas/Admin/Scripts/ReportHS/ReportHSTotalHS.js"></script>
<h1 class="h3 mb-4 text-gray-800">Chi tiết- Theo ngày</h1>

<h6 class="m-0 font-weight-bold text-primary">@NameUrl</h6>

<hr class="sidebar-divider">
<div style=" display: flex; ">

    <ul class="search-item" style="width: 100%;margin-top: 5px;margin-bottom: 0px;">
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm print-excel-month" href="#" style=" float: right;"><i class="fas fa-download fa-sm text-white-50"></i> In báo cáo Excel</a>
    </ul>
</div>
<hr class="sidebar-divider">
<div class="row">
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ đường Hồ sơ chi trả</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.ReportForTotalPayment>()
                                .Name("lineChartReportTotalPaymentForMonth")
                                .Title("Tổng Hồ sơ chi trả (Quy USD)")
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Top)
                                )
                                .ChartArea(chartArea =>
                                {
                                    chartArea.Height(550);
                                })
                                .DataSource(ds => ds
                                    .Read(read => read.Action("SearchLineChartTotalPaymentForMonth", "ReportHSTotalHS")
                                    .Data("onDataReportTypeID"))
                                )
                                .Series(series =>
                                {

                                    series.Line(model => model.Payed).Name("Tổng Hồ sơ chi trả").CategoryField("ReportID").Color("Blue");
                                })
                                .CategoryAxis(axis => axis
                                    .Labels(labels => labels.Rotation(-45))
                                    .Crosshair(c => c.Visible(true))
                                )
                                .ValueAxis(axis => axis.Numeric()
                                    .Labels(labels => labels.Format("{0:N0}"))
                                //.MajorUnit(10000)
                                )
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Shared(true)
                                    .Format("{0:N0}")
                                )
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Hồ sơ chi trả</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<DongA.Entities.ReportForTotalPayment>()
                            .Name("gridReportTotalPaymentForMonth")
                            .HtmlAttributes(new { style = " overflow: auto; " })
                            .Columns(columns =>
                            {
                                columns.Bound(c => c.ReportID).Title("Ngày").Width(100)
                                    .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                                    .HtmlAttributes(new { style = " text-align: center;" }).Format("{0:N0}");
                                columns.Bound(c => c.Payed).Title("Tổng Hồ sơ \n chi trả").Width(100)
                                    .HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" })
                                    .HtmlAttributes(new { style = " text-align: right;" }).Format("{0:N0}");
                            })
                            .DataSource(dataSource => dataSource
                                .Ajax()
                                .Read(read => read
                                    .Action("SearchReportMonth", "ReportHSTotalHS")
                                    .Data("onDataReportTypeID")
                                )
                            )

                            .Sortable() // Enable sorting
                            .Events(events => events
                                .DataBound("onDataBound")
                            )
                )
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function onDataBound(arg) {

        let lastRow = $('#gridReportTotalPaymentForMonth tbody tr');
        $(lastRow[lastRow.length - 1]).css('font-weight', 'bold');
        //$('.k-pager-numbers-wrap .k-pager-numbers').css('display', 'none');
    }

    function onDataReportTypeID(arg) {

        return {
            fromDate: "@fromDate",
            toDate: "@toDate",
            reportTypeID: "@reportTypeID"
        };
    }

    // Change radio
    $("input[name='reportDate']").change(function () {

        localStorage.removeItem('reportTypeLS');
        let reportTypeLS = $('input[name="reportDate"]:checked').val();
        localStorage.reportTypeLS = reportTypeLS;
        // Do something interesting here
    });
</script>

@*<style>
        tr.k-grouping-row {
            display: none;
        }
    </style>*@