@using Kendo.Mvc.UI
@using System.Collections.Generic;
@using System.Web.Mvc;
@using DongA.Entities;
@using System.Data;
@model System.Data.DataTable

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string NameUrl = ViewBag.NameURL;

    int year = DateTime.Today.Year;


    var listData = (List<string>)ViewData["listData"];

    string gradation = string.Empty;
    string toYear = string.Empty;
    string reportTypeID = string.Empty;

    string titleGradatonYear = string.Empty;
    string titleGradatonLastYear = string.Empty;
    string text = " tháng năm";

    if (listData != null)
    {
        gradation = listData[0];
        toYear = listData[1];
        reportTypeID = listData[2];

        switch (gradation)
        {
            case "1":
                text = string.Concat("3", text);
                break;
            case "2":
                text = string.Concat("6", text);
                break;
            case "3":
                text = string.Concat("9", text);
                break;
            default:
                text = string.Concat("12", text);
                break;
        }

        titleGradatonYear = string.Format("Lũy kế </br> {0} {1}", text, toYear);
        titleGradatonLastYear = string.Format("Lũy kế </br> {0} {1}", text, int.Parse(toYear) - 1);
    }

}
<script src="~/Areas/Admin/Scripts/ReportForTotalMoneyType.js"></script>
<h1 class="h3 mb-4 text-gray-800">Chi tiết- So sánh theo giai đoạn</h1>

<h6 class="m-0 font-weight-bold text-primary">@NameUrl</h6>
<hr class="sidebar-divider">

<div style=" display: flex; ">
    
    <ul class="search-item" style="width: 100%;margin-top: 5px;margin-bottom: 0px;">
        @*<a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm search-grid-gradation" href="#" style="float: left;"><i class="fas fa-search fa-sm text-white-50"></i> Tìm kiếm</a>*@
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm print-excel-gradation" href="#" style=" float: right;"><i class="fas fa-download fa-sm text-white-50"></i> In báo cáo Excel</a>
    </ul>
</div>
<hr class="sidebar-divider">
<p class="mb-4" style=" color: black; font-weight: bold; ">1. Theo doanh số chi trả loại hình dịch vụ</p>
<div class="row">
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ đường Doanh số chi trả theo từng loại tiền (USD)</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationCompare>()
                            .Name("chartGradationCompare")
                            .Title(string.Format("Doanh số theo từng loại tiền (Quy USD) \n Giai đoạn: {0} {1}", text, year))
                            .Legend(legend => legend
                                .Position(ChartLegendPosition.Bottom)
                            )
                            .ChartArea(chartArea =>
                                {
                                    chartArea.Height(550);
                                })
                            .DataSource(ds => ds
                                .Read(read => read.Action("SearchColumnChartReportForGradation", "ReportTotalMoneyType").Data("onDataReportTypeID"))
                                .Group(group => group.Add(model => model.NameGradationCompare))
                                )

                            .Series(series =>
                            {
                                series.Column(model => model.amount).Name("#= group.value #").CategoryField("NameType");

                            })
                            .SeriesColors("#FFBF00", "#40FF00")
                            .CategoryAxis(axis => axis
                                //.Labels(labels => labels.Format("{0}"))
                                .MajorGridLines(lines => lines.Visible(false))
                            )
                            .ValueAxis(axis => axis
                                .Numeric()
                                .Labels(labels => labels.Format("{0:N2}"))
                                .Line(line => line.Visible(false))
                            )
                            .Tooltip(tooltip => tooltip
                                .Visible(true)
                                .Format("{0:N2}")
                                .Template("#= series.name #: #= kendo.format('{0:N2}', value) #")
                            )
                        )
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Doanh số chi trả theo từng loại tiền (Nguyên tệ)</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridGradationCompare")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        Dictionary<string, string> listName = new Dictionary<string, string>();
                        listName.Add("ReportID", "Loại tiền");
                        listName.Add("AccumulateID1", titleGradatonYear);
                        listName.Add("AccumulateID2", titleGradatonLastYear);
                        listName.Add("CompareToIDPercent", string.Format("Tăng giảm </br> so với cùng kì {0} (%)", year - 1));
                        listName.Add("CompareToID", string.Format("Tăng giảm </br> so với cùng kì {0} (+/-)", year - 1));
                        // List danh sach in đậm
                        string[] listBoldArray = { "CompareToIDPercent", "CompareToID"};
                        foreach (DataColumn col in Model.Columns)
                        {
                            if (listName.ContainsKey(col.ColumnName))
                            {
                                if (col.ColumnName.Contains("ReportID"))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" }).HtmlAttributes(new { style = "text-align: center" });
                                }
                                else if (!listBoldArray.Contains(col.ColumnName))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2}").HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" }).HtmlAttributes(new { style = "text-align: right" });
                                }
                                else
                                {
                                    if (col.ColumnName.Contains("CompareToIDPercent"))
                                    {
                                        columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2} %").HtmlAttributes(new { style = " font-weight: 700;text-align: right; " }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                    }
                                    else
                                    {
                                        columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2}").HtmlAttributes(new { style = " font-weight: 700;text-align: right; " }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                    }
                                            
                                }
                            }
                        }
                    })
                    //.Pageable(pageable => pageable
                    //    //.PageSizes(new int[] { 10, 20, 31 })
                    //    .Messages(message => message
                    //        .Display("")
                    //        .ItemsPerPage("")
                    //    )
                    //) // Enable paging
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("SearchReportGradationCompare", "ReportTotalMoneyType").Data("onDataReportTypeID"))
                    )
                    .Events(events => events
                        .DataBound("onDataBoundGradationCompare")
                    )
                )
            </div>
        </div>
    </div>

    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Doanh số chi trả theo từng loại tiền (Quy USD)</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridGradationCompareConvert")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        Dictionary<string, string> listName = new Dictionary<string, string>();
                        listName.Add("ReportID", "Loại tiền (Quy USD)");
                        listName.Add("AccumulateID1", titleGradatonYear);
                        listName.Add("AccumulateID2", titleGradatonLastYear);
                        listName.Add("CompareToIDPercent", string.Format("Tăng giảm </br> so với cùng kì {0} (%)", year - 1));
                        listName.Add("CompareToID", string.Format("Tăng giảm </br> so với cùng kì {0} (+/-)", year - 1));
                        // List danh sach in đậm
                        string[] listBoldArray = { "CompareToIDPercent", "CompareToID" };
                        foreach (DataColumn col in Model.Columns)
                        {
                            if (listName.ContainsKey(col.ColumnName))
                            {
                                if (col.ColumnName.Contains("ReportID"))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" }).HtmlAttributes(new { style = "text-align: center" });
                                }
                                else if (!listBoldArray.Contains(col.ColumnName))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2}").HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" }).HtmlAttributes(new { style = "text-align: right" });
                                }
                                else
                                {
                                    if (col.ColumnName.Contains("CompareToIDPercent"))
                                    {
                                        columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2} %").HtmlAttributes(new { style = " font-weight: 700;text-align: right; " }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                    }
                                    else
                                    {
                                        columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2}").HtmlAttributes(new { style = " font-weight: 700;text-align: right; " }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                    }
                                }
                            }
                        }
                    })
                    //.Pageable(pageable => pageable
                    //    //.PageSizes(new int[] { 10, 20, 31 })
                    //    .Messages(message => message
                    //        .Display("")
                    //        .ItemsPerPage("")
                    //    )
                    //) // Enable paging
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        .Read(read => read.Action("SearchReportGradationCompareConvert", "ReportTotalMoneyType").Data("onDataReportTypeID"))
                    )
                    .Events(events => events
                        .DataBound("onDataBoundGradationCompareConvert")
                    )
                )
            </div>
        </div>
    </div>
</div>

<hr class="sidebar-divider">
<p class="mb-4" style=" color: black; font-weight: bold; ">2. Theo tỉ trọng Doanh số chi trả theo từng loại tiền </p>
<div class="row">
    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Tỉ trọng DS chi trả theo từng loại tiền năm hiện tại(%)</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartGradationPercentForYear")
                                .Title(title => title
                                    .Text(string.Format("Lũy kế {0} {1}",text, year))
                                    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )
                        .DataSource(ds => ds.Read(read => read.Action("SearchGradationComparePieForYear", "ReportTotalMoneyType").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category, model => model.color)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(180);
                        })
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                        )
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ Tỉ trong DS chi trả theo từng loại tiền năm trước (%)</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.GradationChartPie>()
                        .Name("chartGradationPercentLastYear")
                                .Title(title => title
                                    .Text(string.Format("Lũy kế {0} {1}" , text, year - 1))
                                    .Position(ChartTitlePosition.Bottom))
                        .Legend(legend => legend
                            .Visible(false)
                        )
                        .DataSource(ds => ds.Read(read => read.Action("SearchGradationComparePieForLastYear", "ReportTotalMoneyType").Data("onDataReportTypeID")))
                        .ChartArea(chart => chart
                            .Background("transparent")
                            )
                        //.HtmlAttributes(new { style="background: center no-repeat url(" + @Url.Content("~/Content/shared/world-map.png")})
                        .Series(series =>
                        {
                            series.Pie(model => model.value, model => model.category, model => model.color)
                            .Labels(labels => labels
                                .Template("#= category #: \n #= value#%")
                                .Background("transparent")
                                .Visible(true)
                                .Font("bold 12px sans-serif")
                            )
                            .StartAngle(180);
                        })
                        .Tooltip(tooltip => tooltip
                            .Visible(true)
                            .Format("{0}%")
                        )
                    )
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-6" style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu Tỉ trọng doanh số chi trả theo từng loại tiền (%)</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<dynamic>()
                    .Name("gridGradationComparePercent")
                    .HtmlAttributes(new { style = " overflow: auto; " })
                    .Columns(columns =>
                    {
                        Dictionary<string, string> listName = new Dictionary<string, string>();
                        listName.Add("ReportID", "Loại tiền");
                        listName.Add("AccumulateID1", titleGradatonYear);
                        listName.Add("AccumulateID2", titleGradatonLastYear);
                        listName.Add("CompareToIDPercent", string.Format("Tăng giảm </br> so với cùng kì {0} (%)", year - 1));
                        // List danh sach in đậm
                        string[] listBoldArray = { "CompareToIDPercent", "CompareToID" };
                        foreach (DataColumn col in Model.Columns)
                        {
                            if (listName.ContainsKey(col.ColumnName))
                            {
                                if (col.ColumnName.Contains("ReportID"))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).HtmlAttributes(new { style = "text-align: center" }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                }
                                else if (!listBoldArray.Contains(col.ColumnName))
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2} %").HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" }).HtmlAttributes(new { style = "text-align: right" });
                                }
                                else
                                {
                                    columns.Bound(col.ColumnName).Title(listName[col.ColumnName]).Format("{0:n2} %").HtmlAttributes(new { style = " font-weight: 700;text-align: right;" }).HeaderHtmlAttributes(new { style = "text-align: center;font-weight: 700;" });
                                }
                            }
                        }
                    })
                    //.Pageable(pageable => pageable
                    //    //.PageSizes(new int[] { 10, 20, 31 })
                    //    .Messages(message => message
                    //        .Display("")
                    //        .ItemsPerPage("")
                    //    )
                    //) // Enable paging
                    .Sortable() // Enable sorting
                    .DataSource(dataSource => dataSource
                        .Ajax()
                        //.Data("DayReport.GetAdditionalData")
                        //.PageSize(30)
                        .Read(read => read.Action("SearchReportGradationComparePercent", "ReportTotalMoneyType").Data("onDataReportTypeID"))
                    )
                    .Events(events => events
                        .DataBound("onDataBoundGradationComparePercent")
                    )
                )
            </div>
        </div>
    </div>
</div>

@*<style>
    tr.k-grouping-row {
        display: none;
    }
</style>*@

<script type="text/javascript">

    function onDataBoundGradationCompare(e) {
        //let listRows = $('#gridGradationCompare tbody tr');
        //$(listRows[listRows.length - 1]).css('font-weight', 'bold');

        // Tô màu dòng record có tỉ lệ tăng giảm
        let trGrid = $('#gridGradationCompare tbody tr');
        for (let i = 0; i < trGrid.length; i++) {

            let tdGrid = $(trGrid[i]).find('td');
            for (let j = 3; j < tdGrid.length; j++) {
                tdCellValue = kendo.parseFloat(tdGrid[j].textContent);

                // Điều kiện nếu td là âm thì tô màu đỏ ngược lại màu Xanh
                if (tdCellValue != null) {
                    $(tdGrid[j]).css('color', 'red');
                    if (tdCellValue > 0) {
                        $(tdGrid[j]).css('color', 'green');
                    }
                }
            }
        }
    }

    function onDataBoundGradationCompareConvert(e) {
        let listRows = $('#gridGradationCompareConvert tbody tr');
        $(listRows[listRows.length - 1]).css('font-weight', 'bold');

        // Tô màu dòng record có tỉ lệ tăng giảm
        let trGrid = $('#gridGradationCompareConvert tbody tr');
        for (let i = 0; i < trGrid.length; i++) {

            let tdGrid = $(trGrid[i]).find('td');
            for (let j = 3; j < tdGrid.length; j++) {
                tdCellValue = kendo.parseFloat(tdGrid[j].textContent);

                // Điều kiện nếu td là âm thì tô màu đỏ ngược lại màu Xanh
                if (tdCellValue != null) {
                    $(tdGrid[j]).css('color', 'red');
                    if (tdCellValue > 0) {
                        $(tdGrid[j]).css('color', 'green');
                    }
                }
            }
        }
    }

    function onDataBoundGradationComparePercent(e) {
        let listRows = $('#gridGradationComparePercent tbody tr');
        $(listRows[listRows.length - 1]).css('font-weight', 'bold');

        // Tô màu dòng record có tỉ lệ tăng giảm
        let trGrid = $('#gridGradationComparePercent tbody tr');
        for (let i = 0; i < trGrid.length - 1; i++) {

            let tdGrid = $(trGrid[i]).find('td');

            // Theo % thì loại đối tượng tổng ra
            for (let j = 3; j < tdGrid.length; j++) {
                tdCellValue = kendo.parseFloat(tdGrid[j].textContent);

                // Điều kiện nếu td là âm thì tô màu đỏ ngược lại màu Xanh
                if (tdCellValue != null) {
                    $(tdGrid[j]).css('color', 'red');
                    if (tdCellValue > 0) {
                        $(tdGrid[j]).css('color', 'green');
                    }
                }
            }
        }
    }


    function onDataReportTypeID(arg) {

        return {
            gradation: "@gradation",
            year: "@toYear",
            reportTypeID: "@reportTypeID"
        };
    }

    // Change radio
    $("input[name='reportDate']").change(function () {
        debugger;
        localStorage.removeItem('reportTypeLS');
        let reportTypeLS = $('input[name="reportDate"]:checked').val();
        localStorage.reportTypeLS = reportTypeLS;
        // Do something interesting here
    });
</script>