@using Kendo.Mvc.UI
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    string NameUrl = string.Concat(ViewBag.NameURL, "Theo ngày");
}
<script src="~/Areas/Admin/Scripts/DateReport.js"></script>
<h1 class="h3 mb-4 text-gray-800">Chi tiết- Theo ngày</h1>

<h6 class="m-0 font-weight-bold text-primary">@NameUrl</h6>
<hr class="sidebar-divider">
<div>
    <ul style="width: 85%;position: absolute;display: block;">
        <span style="float: left;margin-right: 30px;margin-top: 5px;">Từ ngày: </span>
        <span >
            @(Html.Kendo().DatePicker()
                                          .Name("FromDay")
                                          //.Value(DateTime.Now.ToString("MM/dd/yyyy"))
                                          .Value(DateTime.Now.ToString("d"))
                                          .HtmlAttributes(new { style = "width: 20%;float: left;", title = "datepicker" })
            )
        </span>
    </ul>
    <ul>
        <span style="margin-left: 40%;margin-right: 30px;">Đến ngày: </span>
        <span>
            @(Html.Kendo().DatePicker()
                                          .Name("ToDay")
                                          .Value(DateTime.Now.ToString("MM/dd/yyyy"))
                                          .HtmlAttributes(new { style = "width: 20%", title = "datepicker" })
            )
        </span>
    </ul>
    <ul style="display: inline; " class="search-item">
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm print-excel" href="#" style=" float: left;"><i class="fas fa-download fa-sm text-white-50"></i> In báo cáo Excel</a>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm search-grid" href="#" style="float: right;"><i class="fas fa-search fa-sm text-white-50"></i> Tìm kiếm</a>
    </ul>


</div>
<hr class="sidebar-divider">
<div class="row">
    <div class="col-lg-6"  style=" flex: none; max-width: none; ">
        <!-- Circle Buttons -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Biểu đồ</h6>
            </div>
            <div class="card-body">
                <div class="demo-section k-content wide">
                    @(Html.Kendo().Chart<DongA.Entities.Report>()
                                .Name("chartReportDay")
                                .Title("Biểu đồ đường")
                                .Legend(legend => legend
                                    .Position(ChartLegendPosition.Top)
                                )
                                .DataSource(ds => ds
                                    .Read(read => read.Action("LineChartReport", "Report"))
                                )
                                .Series(series =>
                                {
                                    series.Line(model => model.DSChiQuay).Name("Danh sách chi quầy").CategoryField("Day");
                                    series.Line(model => model.DSChiNha).Name("Danh sách chi nhà").CategoryField("Day");
                                    series.Line(model => model.DSCK).Name("Danh sách chuyển khoản").CategoryField("Day");
                                })
                                .CategoryAxis(axis => axis
                                    .Labels(labels => labels.Rotation(-90))
                                    .Crosshair(c => c.Visible(true))
                                )
                                .ValueAxis(axis => axis.Numeric()
                                    .Labels(labels => labels.Format("{0:N0}"))
                                    //.MajorUnit(10000)
                                )
                                .Tooltip(tooltip => tooltip
                                    .Visible(true)
                                    .Shared(true)
                                    .Format("{0:N0}")
                                )
                    )
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-6"  style=" flex: none; max-width: none; ">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">Bảng số liệu</h6>
            </div>
            <div class="card-body">
                @(Html.Kendo().Grid<DongA.Entities.Report>()
                        .Name("gridReportDay")
                        .HtmlAttributes(new { style = " overflow: auto; " })
                        .Columns(columns =>
                        {
                            columns.Bound(c => c.Day).Title("Ngày").ClientFooterTemplate("Tổng").Width(200);
                            columns.Bound(c => c.DSChiQuay).Title("Danh sách chi quầy").ClientFooterTemplate("#=sum#").Width(100);
                            columns.Bound(c => c.DSChiNha).Title("Danh sách chi nhà").ClientFooterTemplate("#=sum#").Width(100);
                            columns.Bound(c => c.DSCK).Title("Danh sách chuyển khoản").ClientFooterTemplate("#=sum#").Width(100);
                            columns.Bound(c => c.TongDS).Title("Tổng doanh số").ClientFooterTemplate("#=sum#").Width(200).HtmlAttributes(new { style = " font-weight: 700; " });
                        })
                        .DataSource(dataSource => dataSource
                            .Ajax()
                            //.Data("DayReport.GetAdditionalData")
                            .Aggregates(aggregates =>
                            {
                                aggregates.Add(p => p.DSChiQuay).Sum();
                                aggregates.Add(p => p.DSChiNha).Sum();
                                aggregates.Add(p => p.DSCK).Sum();
                                aggregates.Add(p => p.TongDS).Sum();
                            })
                            .PageSize(20)
                            .Group(group =>group.Add(p =>p.Type))
                            .Read(read => read.Action("ReportDay", "Report"))
                            //.PageSize(10)
                        //.Read(read => read.Action("SearchReportDay", "Report").Data("DayReport.GetAdditionalData()"))
                        )
                        .Pageable(pageable => pageable.PageSizes(new int[] { 10, 20, 40 })) // Enable paging
                        .Sortable() // Enable sorting
                )
            </div>
        </div>
    </div>
</div>

<style>
    tr.k-grouping-row {
        display: none;
    }
</style>